{#
|
| Cookie Banner
|----------------
#}
<section class="cookie-banner">
    <div class="container">
        <div class="row ai-center">
            <a href="#" class="item-close c-black">
                {{ function([services, 'svg'], img ~ '/icon/cross.svg') }}
            </a>
            <div class="col-sm-10 col-lg-10 order-sm-1">
                <div class="cms mb-sm">
                    {{ options['opt-cookie-texte'] }}
                </div>
                <div class="list-btn">
                    <a href="#" class="btn btn-orange btn-icon btn-icon-left item-accept mr-md md-down-mb-sm">
                        <span class="text">
                            {{translations.accepter}}
                        </span>
                        <span class="icon">
                            {{ function([services, 'svg'], img ~ '/icon/ico-btn-right.svg' )}}
                        </span>
                    </a>
                    <a href="#" class="btn btn-b-black  item-refuse "> {{translations.refuser}}</a>
                </div>
            </div>
        </div>
    </div>
</section>