
<section class="section-colonne"  {% if id %}id="{{id}}"{% endif %}>
    <div class="container">
        <div class="row ai-center jc-between">
            <div class="col-md-6 ">
                <div class="hero-image hero-image--metier">
                    <div class="img-cover">
                        <figure>
                            <img src="{{TimberImage(image).src}}" alt="{{TimberImage(image).alt}}" class="img-fluid"/>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-md-5 ">
                 <div class="item-title ">
                    <h2 class="title title-xl c-green font-extra">{{ title }}</h2>
                </div>
                <div class="cms c-green mb-md mt-md">
                    {{text}}
                </div>
                <div class="list-btn ">
                    {{button.default({ 
                        'type'          :   link['lien-type'],
                        'text'          :   link['texte'],
                        'lien-interne'  :   link['lien-interne'],
                        'lien-externe'  :   link['lien-externe'],
                        'mail'          :   link['mail'],
                        'phone'         :   link['phone'],
                        'color'         :   'full-orange' ,
                        'class'         :   'btn-full btn-md btn-icon btn-icon-right'
                        }, img)
                    }}
                </div>
            </div>
        </div>
    </div>
</section>